body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer {
    min-height: 50px;
}

a {
    text-decoration: none !important;
    color: black;
}

h3 {
    font-size: 20px;
    margin: 0;
}

a:hover {
    text-decoration: none;
    color: black;
}

.main {
    width: 100%;
}

.display_flex {
    display: flex;
    flex-wrap: wrap;
}

.j_start {
    justify-content: start;
}

.true_text {
    margin-left: 20px;
}

.page_form {
    width: 100%;
    margin: auto;
    padding-top: 15px;
    font-size: 20px;
}


.main_content {
    width: calc(100% - 300px);
}

.header {
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.b_border {
    background-color: lightgray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo {
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
}

.logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.logo span {
    color: black;
    padding-left: 10px;
}

.logo img {
    width: 50px;
}

.links {
    width: 70%;
}

.links_box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.back_box {
    width: 89%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.link {
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    font-weight: 600;
}

.link:hover {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.button {
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 20px;
    border: 0;
    background-color: black;
    color: white;
    cursor: pointer;
}

.button_register {
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 20px;
    border: 0;
    background-color: white;
    color: black;
    cursor: pointer;
    outline: 1px black solid;
}

.button_register:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    outline: 1px black solid;
}

.button i {
    padding-left: 10px;
}


.button_outline {
    width: 100%;
    font-weight: 600;
    padding: 17px 34px;
    border-radius: 20px;
    border: 3px black solid;
    background-color: white;
    font-size: 2vw;
}

.button_outline:hover {
    background-color: black;
    color: white;
}

.button_outline i {
    padding-left: 10px;
}

.content {
    width: 100%;
    display: flex;
}

.content {
    width: 100%;
    display: flex;
}

.content_contact {
    width: 100%;
    display: flex;
    background-image: url('https://image.freepik.com/free-vector/email-marketing-internet-chatting-24-hours-support_335657-3009.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.content_about {
    width: 100%;
    height: 600px;
    background-image: url('https://image.freepik.com/free-vector/multicultural-people-standing-together_74855-6583.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.content_login {
    width: 70%;
    margin: auto auto 50px auto;
    height: 550px;
    box-shadow: 0 0 10px -3px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-image: url('https://image.freepik.com/free-vector/access-control-system-abstract-concept-illustration-security-system-authorize-entry-login-credentials-electronic-access-password-pass-phrase-pin-verification_335657-3373.jpg');
    display: flex;
    justify-content: right;
    align-items: center;
}

.login {
    width: 40%;
    height: 400px;
    padding: 10px;
}

.login_buttons {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c_left {
    width: 50%;
}

.c_right {
    width: 50%;
}

.c_contact_left {
    width: 50%;
}

.c_contact_right {
    width: 50%;
}

.c_center {
    width: 50%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about_dev {
    width: 80%;
    padding-top: 50px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 500px;
    min-height: 250px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px -3px;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 20px;
}

.card img {
    width: 200px;
    padding-left: 20px;
}

.card_content {
    width: 100%;
    padding-left: 10px;
    min-width: 280px;
}

.block {
    width: 70%;
    margin: auto;
    padding-top: 100px;
    font-size: 2.5vw;
}

.block_v1 {
    width: 70%;
    margin: auto;
    padding-top: 20px;
    font-size: 30px;
}

.map {
    width: 100%;
    height: 400px;
    border: 1px black solid;
    border-radius: 10px;

}

.contact_block {
    width: 70%;
    margin: auto;
    padding-top: 20px;
    font-size: 30px;
}

.input {
    width: 80%;
    height: 40px;
    border: 1px black solid;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding-left: 15px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.spec_input {
    width: 100%;
    margin-top: 20px;
    height: 40px;
    box-sizing: border-box;
    border: 1px black solid;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding-left: 15px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.textarea {
    width: 77.27%;
    border: 1px black solid;
    border-radius: 10px;
    outline: none;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.cursor {
    cursor: pointer;
}

.cursor:hover {
    text-decoration: underline;
}

.gray {
    color: gray;
}

.side_nav {
    width: 300px;
    height: 600px;
}

.user_info {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    background-color: white;
    padding: 40px 30px;
    display: flex;
}

.navigation {
    width: 100%;
}


.nav_elem {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.nav_elem h3 {
    padding-left: 40px;
}

@media screen and (max-width: 700px) {
    .side_nav {
        width: 100%;
        height: auto;
        display: flex;
    }

    div.content {
        margin-left: 0;
    }

    .user_info {
        width: 50%;
        display: flex;
        justify-content: center;
        height: 120px;
        padding: 20px 10px;
    }

    .main_content {
        width: 100%;
    }

    .navigation {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }
    a {
        width: 80%;
        margin: auto;
    }

    .nav_elem {
        width: 100%;
        height: 40px;
    }

    h3 {
        font-size: 3vw;
    }

    .nav_elem h3 {
        padding-left: 20px;
    }

}



.user_data {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user_info img {
    border-radius: 50%;
}


.nav_elem:hover {
    background-color: lightgray;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.nav_elem h3 {
    padding-left: 40px;
}

.nav_elem i {
    padding-right: 10px;
}

.alert {
    width: 85%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fb9838;
    color: white;
}

.page_content {
    width: 60%;
    margin: auto auto 20px auto;
}

.page_table {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

.back_table {
    width: 100%;
    min-height: 600px;
    background: url("https://image.freepik.com/free-vector/electronic-documentation-man-with-registration-checking-repository-log-online-approval-screen-form-validation-page-expense-chronicles-vector-isolated-concept-metaphor-illustration_335657-4323.jpg") no-repeat center;
}

.graph {
    width: 100%;
    margin-bottom: 20px;
}

.table {
    margin: 0;
}


.my_table {
    width: 100%;
    border-radius: 10px;
    min-height: 200px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
}

.p_left {
    margin: 20px 0 0 20px;
}

.p_right {
    margin: 20px 20px 0 0;
}

.m_top {
    margin-top: 10px;
}

.top {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_button {
    padding: 8px 16px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black;
}

.add_button:hover {
    border: 1px solid green;
    background-color: green;
    color: white;
}



.choose-graph {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
}

@media (max-width: 800px) {
    .links_box {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .login {
        width: 80%;
        height: 400px;
        padding: 10px;
    }

    .content_contact {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-position: center;
        background-image: url('https://image.freepik.com/free-vector/email-marketing-internet-chatting-24-hours-support_335657-3009.jpg');
        background-repeat: no-repeat;
    }

    .c_left {
        width: 40%;
    }

    .c_right {
        width: 60%;
    }

    .c_right button {
        margin-top: 10px;
    }

    .c_contact_left {
        width: 80%;
    }

    .c_contact_right {
        width: 80%;
    }

    .contact_block {
        width: 70%;
        margin: auto;
        padding-top: 20px;
        font-size: 30px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textarea{
        margin-bottom: 20px;
    }
}