{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="content_about">
        <div class="c_center">
            <h1>ABOUT US</h1>
            <h3>FM Company is a finance management company.</h3>
            <p>We work together to help people to control their money.</p>
        </div>
        <div class="about_dev">
            {% for key, value in dict.items %}
            <div class="card">
                {% if value.url == 'zhanniyet' %}
                 <img src="{% static '/images/zhanniyet.png' %}" alt="">
                {% endif %}
                {% if value.url == 'sabyr' %}
                    <img src="{% static '/images/sabyr.png' %}" alt="">
                {% endif %}

                <div class="card_content">
                    <h2>{{ value.position }}</h2>
                    <h4>{{ value.fullname }}</h4>
                    <h4>phone: {{ value.phone }}</h4>
                    <h4>email: {{ value.email }}</h4>
                    <h4>hours: 09:00-18:30</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="footer">

    </div>
{% endblock %}
