{% load static %}
<div class="header">
    <div class="logo">
        <a href="/">
            <img src="{% static '/images/money.png' %}"><span>FM</span>
        </a>
    </div>
    <div class="links">
        <div class="links_box">
            <a class="link" href="/">HOME</a>
            <a class="link" href="/about">ABOUT</a>
            <a class="link" href="/contact">CONTACT</a>
            <a href="/auth/register">
                <button class="button_register">REGISTER</button>
            </a>
            <a href="/auth/login">
                <button class="button">LOG IN</button>
            </a>
        </div>
    </div>
</div>