{% extends 'authlayout.html' %}
{% load static %}

{% block content %}
    <div class="content_login">
        <div class="login">
            <h1>Welcome!</h1>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
{#                {{ form.username }}#}
                <input type="text" class="input" placeholder="username" name="username">
                <br>
{#                {{ form.password }}#}
                <input type="password" class="input" placeholder="password" name="password">
                <br>
                <div class="login_buttons">
                    <button class="button" type="submit">LOG IN</button>
                    <a href="{% url 'register' %}" class="cursor">
                        Don't have an account?
                    </a>
                </div>
            </form>
            <br>
            {% for message in messages %}
                <div class="alert">
                    <p class="message">{{ message }}</p>
                    <span class="cursor" onclick="this.parentElement.style.display='none'">&times;</span>
                </div>
            {% endfor %}
            <p class="cursor gray">Forgot your password?</p>
        </div>
    </div>
{% endblock %}