{% extends 'main_layout.html' %}

{% block content %}
    <div class="main_content">
        <div class="header b_border j_between">
            <div class="true_text">
                <h3>Purchases Page</h3>
            </div>
            <div class="money">
                <h3>Income: +{{ sum_income }}</h3>
                <h3>Expense: -{{ sum_expense }}</h3>
            </div>
        </div>
        <div class="back_table">
            <div class="page_table">
                <div class="graph">
                    <canvas id="myChart" width="400" height="500"></canvas>
                </div>
                {#                <div class="choose-graph">#}
                {#                    <button class="btn btn-warning" onclick="line()">Line graph</button>#}
                {#                    <button class="btn btn-warning" onclick="bar()">Bar graph</button>#}
                {#                    <button class="btn btn-warning" onclick="pie()">Pie chart</button>#}
                {#                </div>#}
                <div class="my_table">
                    <div class="top">
                        <h3 class="">Transactions</h3>
                        <div>
                            <button class="add_button" type="button" data-bs-toggle="modal" data-bs-target="#addIncome">
                                +
                                Add Income
                            </button>
                            <button class="add_button" type="button" data-bs-toggle="modal"
                                    data-bs-target="#addPurchase">+
                                Add Purchase
                            </button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="addIncome" tabindex="-1" aria-labelledby="addIncomeLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addIncomeLabel">Add Income</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="price" class="form-label">Price</label>
                                                <input type="number" min="0" max="1000000" class="form-control" required
                                                       id="price" name="price"
                                                       placeholder="Price">
                                            </div>
                                            <div class="mb-3">
                                                <label for="date" class="form-label">Date</label>
                                                <input type="date" class="form-control" placeholder="mm-dd-YYYY"
                                                       required
                                                       id="date" name="date">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" name="addIncome" class="btn btn-success">Add Income
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="addPurchase" tabindex="-1" aria-labelledby="addPurchaseLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addPurchaseLabel">Add Purchase</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="category" class="form-label">Category</label>
                                                <select class="form-select" name="category" required
                                                        aria-label="Default select example">
                                                    <option selected disabled value="">Choose category of an item
                                                    </option>
                                                    {% for category in category_list %}
                                                        <option value="{{ category }}">{{ category }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="name" name="name" required
                                                       placeholder="Name">
                                            </div>
                                            <div class="mb-3">
                                                <label for="price" class="form-label">Price</label>
                                                <input type="number" min="0" max="1000000" class="form-control" required
                                                       id="price" name="price"
                                                       placeholder="Price">
                                            </div>
                                            <div class="mb-3">
                                                <label for="date" class="form-label">Date</label>
                                                <input type="date" class="form-control" placeholder="mm-dd-YYYY"
                                                       required
                                                       id="date" name="date">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" name="addTransaction" class="btn btn-success">Add
                                                Transaction
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td width="10%">ID</td>
                            <td width="40%">Price</td>
                            <td>Date</td>
                            <td width="10%">Update</td>
                            <td width="10%">Details</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in purchases %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{% if item.status == 'purchase' %}-{{ item.item.price }}{% else %}+
                                    {{ item.price }}{% endif %}</td>
                                <td>{{ item.date }}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#itemModal{{ item.id }}">Update
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-info" data-bs-toggle="modal"
                                            data-bs-target="#itemInfo{{ item.id }}">Info
                                    </button>
                                </td>
                                <!-- Modal -->
                                <div class="modal fade" id="itemModal{{ item.id }}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel{{ item.id }}"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel{{ item.id }}">Transaction
                                                    update</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            {% if item.status == 'purchase' %}
                                                <form action="" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{ item.id }}" name="purchase_id">
                                                    <input type="hidden" value="{{ item.item.id }}" name="item_id">
                                                    <div class="modal-body">
                                                        <div class="mb-3">
                                                            <label for="category" class="form-label">Category</label>
                                                            <select class="form-select" name="category" required
                                                                    aria-label="Default select example">
                                                                <option disabled value="">Choose category of an item
                                                                </option>
                                                                {% for category in category_list %}
                                                                    <option value="{{ category }}"
                                                                            {% if category == item.item.category.name %}
                                                                            selected {% endif %}>{{ category }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="name" class="form-label">Name</label>
                                                            <input type="text" class="form-control" id="name"
                                                                   name="name"
                                                                   required
                                                                   value="{{ item.item.name }}"
                                                                   placeholder="Name">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="price" class="form-label">Price</label>
                                                            <input type="number" min="0" max="1000000"
                                                                   class="form-control"
                                                                   required
                                                                   value="{{ item.item.price }}"
                                                                   id="price" name="price"
                                                                   placeholder="Price">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="date" class="form-label">Date</label>
                                                            <input type="date" class="form-control" required
                                                                   value="{{ item.date|date:"Y-m-d" }}"
                                                                   id="date" name="date">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="submit" name="updateTransaction"
                                                                class="btn btn-primary">Update
                                                        </button>
                                                    </div>
                                                </form>
                                            {% else %}
                                                <form action="" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{ item.id }}" name="income_id">
                                                    <div class="modal-body">
                                                        <div class="mb-3">
                                                            <label for="price" class="form-label">Price</label>
                                                            <input type="number" min="0" max="1000000"
                                                                   class="form-control"
                                                                   required
                                                                   value="{{ item.price }}"
                                                                   id="price" name="price"
                                                                   placeholder="Price">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="date" class="form-label">Date</label>
                                                            <input type="date" class="form-control" required
                                                                   value="{{ item.date|date:"Y-m-d" }}"
                                                                   id="date" name="date">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="submit" name="updateIncome"
                                                                class="btn btn-primary">Update
                                                        </button>
                                                    </div>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="itemInfo{{ item.id }}" tabindex="-1"
                                     aria-labelledby="exampleModalLabelInfo{{ item.id }}"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabelInfo{{ item.id }}">
                                                    Transaction
                                                    info</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            {% if item.status == 'purchase' %}
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="category" class="form-label">Category</label>
                                                        <input type="text" class="form-control" id="category"
                                                               name="category"
                                                               value="{{ item.item.category.name }}" readonly
                                                               placeholder="Category">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="name" class="form-label">Name</label>
                                                        <input type="text" class="form-control" id="name" name="name"
                                                               readonly
                                                               value="{{ item.item.name }}"
                                                               placeholder="Name">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="price" class="form-label">Price</label>
                                                        <input type="number" min="0" max="1000000" class="form-control"
                                                               readonly
                                                               value="{{ item.item.price }}"
                                                               id="price" name="price"
                                                               placeholder="Price">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="date" class="form-label">Date</label>
                                                        <input type="date" class="form-control" readonly
                                                               value="{{ item.date|date:"Y-m-d" }}"
                                                               id="date" name="date">
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="price" class="form-label">Price</label>
                                                        <input type="number" min="0" max="1000000" class="form-control"
                                                               readonly
                                                               value="{{ item.price }}"
                                                               id="price" name="price"
                                                               placeholder="Price">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="date" class="form-label">Date</label>
                                                        <input type="date" class="form-control" readonly
                                                               value="{{ item.date|date:"Y-m-d" }}"
                                                               id="date" name="date">
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <form action="" method="post">
                                                    {% if item.status == 'purchase' %}
                                                        {% csrf_token %}
                                                        <input type="hidden" value="{{ item.id }}" name="purchase_id">
                                                        <input type="hidden" value="{{ item.item.id }}" name="item_id">
                                                        <button type="submit" name="deleteTransaction"
                                                                class="btn btn-danger">Delete
                                                        </button>
                                                    {% else %}
                                                        {% csrf_token %}
                                                        <input type="hidden" value="{{ item.id }}" name="income_id">
                                                        <button type="submit" name="deleteIncome"
                                                                class="btn btn-danger">Delete
                                                        </button>
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>

        let bar_type = 'line';

        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: bar_type,
            data: {
                labels: {{date|safe}},
                datasets: [
                    {
                        label: 'Expense',
                        data: {{expense|safe}},
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.9)',
                            {#'rgba(255, 99, 132, 0.9)',#}
                            {#'rgba(255, 206, 86, 0.9)',#}
                            {#'rgba(75, 192, 192, 0.9)',#}
                            {#'rgba(153, 102, 255, 0.9)',#}
                            {#'rgba(255, 159, 64, 0.9)'#}
                        ],
                        borderColor: [
                            {#'rgba(54, 162, 235, 1)',#}
                            'rgba(255, 99, 132, 1)',
                            {#'rgba(255, 206, 86, 1)',#}
                            {#'rgba(75, 192, 192, 1)',#}
                            {#'rgba(153, 102, 255, 1)',#}
                            {#'rgba(255, 159, 64, 1)'#}
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Income',
                        data: {{income|safe}},
                        backgroundColor: [
                            {#'rgba(153, 102, 255, 0.9)',#}
                            'rgba(255, 159, 64, 0.9)'
                        ],
                        borderColor: [
                            'rgba(153, 102, 255, 0.9)',
                            {#'rgba(255, 99, 132, 1)',#}
                            {#'rgba(255, 206, 86, 1)',#}
                            {#'rgba(75, 192, 192, 1)',#}
                            {#'rgba(153, 102, 255, 1)',#}
                            {#'rgba(255, 159, 64, 1)'#}
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Difference',
                        data: {{diff|safe}},
                        backgroundColor: [
                            {#'rgba(153, 102, 255, 0.9)',#}
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderColor: [
                            'rgba(153, 102, 255, 0.9)',
                            {#'rgba(255, 99, 132, 1)',#}
                            {#'rgba(255, 206, 86, 1)',#}
                            {#'rgba(75, 192, 192, 1)',#}
                            {#'rgba(153, 102, 255, 1)',#}
                            {#'rgba(255, 159, 64, 1)'#}
                        ],
                        borderWidth: 1
                    }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    },
                },
                responsive: true,
                maintainAspectRatio: false
            }
        })
    </script>
{% endblock %}